{{ $baseurl := .Site.BaseURL }}
{{ $pag := .Paginator }}
{{ if gt $pag.TotalPages 1 }}
<a aria-label="First" href="{{ $pag.First.URL }}">
  <span aria-hidden="true">««</span>
</a>

<a{{ if not $pag.HasPrev }} class="disabled"{{ end }} aria-label="Previous" href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ else }}#{{ end }}">
  <span aria-hidden="true">«</span>
</a>

{{ range $pag.Pagers }}
<a{{ if eq . $pag }} class="active"{{ end }} href="{{ .URL }}">
  {{ .PageNumber }}
</a>
{{ end }}

<a{{ if not $pag.HasNext }} class="disabled"{{ end }} aria-label="Next" href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ else }}#{{ end }}">
  <span aria-hidden="true">»</span>
</a>

<a aria-label="Last" href="{{ $pag.Last.URL }}">
  <span aria-hidden="true">»»</span>
</a>
{{ end }}
